relatorio.glo
relatorio.ist
relatorio.run.xml
relatorio.synctex.gz
relatorio.aux
relatorio.bcf
relatorio.fdb_latexmk
relatorio.fls
relatorio.lof
relatorio.log
relatorio.lot
relatorio.out
relatorio.toc
relatorio.bbl
